<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>

      <div class="container">
        <h1>Sistema de registro con Sequelize</h1>
        <h3>Comision 4</h3>
      </div>


      <%- include("partials/footer") %>
  </body>

</html>